*{
    margin: 0;
    padding: 0;
  
}

body {
  background:  url(body.png) no-repeat top;
  background-size: cover;
}
#container {
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 10%;
    text-align: center;
    box-shadow: 0 0 45px;
    height: 580px;
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    background: url(WVcAdaK.jpg) no-repeat top;
    background-size: cover;

}

#heading {
    padding: 10px;
    font-size: 2em;
    
}
#heading h1{
    color: #D01004;
    text-decoration: underline #D01004;
    text-decoration-skip-ink: auto;
    text-shadow: 0 0 10px;
}
.main {

    height: 500px;
}
#image {
    height: 300px;
}
#bottom {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
#score {
    height: 180px;
    width: 40%;
    padding: 10px;
    font-size: 2em;
    border-width: 10px;
    box-sizing: border-box;
    
}
#score_p {
    margin-left: 30%;
    display: block;
    cursor: pointer;
    color: cornflowerblue;
    background-color: #8E1BD5;
    opacity: 0.60;
    box-shadow: 0 0 20px;
    border-radius: 30px;
}
#btn {
    width: 60%;
   
}
#button {
    cursor: pointer;
    border-radius: 15px;
    color: #7ABFD6  ;
    background:transparent;
    margin-top: 8%;
    padding:2% 5% 2% 5%;
    font-size: 2em;
    transition: all;

}
#btn button:hover {
    color: #0090BE ;
    word-spacing: 5px;
    letter-spacing: 3px;
    padding-left: 6%;
    padding-right: 6%;
    transition-duration: 0.2s;
    box-shadow: 0 0 20px;
    
}
#timer {
    background: radial-gradient(rgba(214,73,80,.5),rgba(214,73,80,.5));
    height: 55px;
    width: 55px;
    padding: 2% 3% 2% 3%;
    font-size: 3em;
    position: absolute;
    left: 75%;
    top: 40%;
    box-shadow: 0 0 20px;
    border-radius: 150px;
}
#image1 {
    border-radius: 30px;
}